.app-container {
  display: flex;
}

.sidebar {
  width: 15vw;
  background-color: #1d1d1d;
  color: white;
  height: 100vh;
}

.dashboard {
  flex-grow: 1;
  background-color: #0b0b0b;
  padding: 20px;
  color: white;
}
